<app-breadcrumb #ref  [title]="'ادارة الإعلانات'" >
</app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 project-list">
      <div class="card">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group" style="margin-bottom: 0px;" >
              <!-- <label></label>
              <select (change)="selectChangeHandlerProgram($event)"
              class="form-select form-control HeightList" >
                    <option value="n" selected> {{DefaultselectedProgram}} </option>
                      <option *ngFor="let obj of ProgramList" value="{{obj.ID}}" >
                      <h3  > {{obj.Name}} </h3>
                    </option>
              </select> -->
          </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" style="margin-bottom: 0px;">
              <!-- <label> </label>
              <select (change)="selectChangeHandlerSeason($event)"
                      class="form-select form-control HeightList" 
                      [disabled]="SelectSeason">

                  <option value="n" selected> {{DefaultSelectseason}} </option>
                  <option *ngFor="let obj of _SeasonIDName" value="{{ obj.ID }}">
                      <h3 class="selected-value"> {{ obj.Name }} </h3>
                  </option>
              </select> -->
          </div>
          </div>
          <div class="col-sm-4">
            <div class="text-right" style="margin-top: 15px;margin-left: 15px;" >
              <div class="form-group mb-0 mr-0"></div>
              <a class="btn add-btn" 
                 [routerLink]="['/project/createAdvertisment']"> <i
                data-feather="plus-square">
               </i>إضافة إعلان
               </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card" style="margin: 3px ;">
        <div class="card-body">
          <div class="tab-content" id="top-tabContent">
            <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
              <div class="row">
                <div *ngFor="let item of ADSList" class="col-xl-4 col-lg-6 mb-4">
                  <div class="project-box shadow">
                    <span class="badge badge-primary badge-color shadow title-style">{{item.AdTitle}}</span>
                    <h6></h6>
                    <div class="media Contain-Style mt-4" >
                      <i class="fas fa-layer-group mr-2 pt-1" style="color: darkgrey;"></i>
                      <div class="media-body" >
                        <p >صاحب الإعلان {{item.ClientName}} </p>
                      </div>
                    </div>
                    <div class="Category-Img-Title" 
                      style="background-image: url({{Url}}{{item.ImagePath}}); background-size: cover;
                      height: 260px;">
                    </div>
                    <!-- <div class="row" style="margin-left: 0px;margin-right: 0px;">
                      <div class="col-12 description-Style" style=" padding-left: 0px;
                                                                    padding-right: 0px;
                                                                    margin-top: 10px;
                                                                    margin-bottom: 15px;">
                        <p class="Category-Description p-0"> {{category.CategoryDescription}} {{category.CategoryDescription}} </p>
                      </div>
                    </div> -->
                    <br>
                    <div class="row details " style="margin-left: 0px;margin-right: 5px;  ">
                      <div class="col-6"><span>مشاهدة  </span></div>
                      <div class="col-6" style="color:#eb2067" > {{item.Views}} </div>
                      <div class="col-6" > <span>رابط الإعلان</span></div>
                      <div class="col-6" style="color:#eb2067"><a style="color:#eb2067" href="{{item.URL}}">رابط الإعلان</a> </div>
                      <div class="col-6" > <span>كود مكان الإعلان</span></div>
                      <div class="col-6" style="color:#eb2067">{{item.PlaceHolderCode}}</div>
                      <div class="col-6" > <span> بداية الإعلان</span></div>
                      <div class="col-6" style="color:#eb2067">{{item.Dates }}</div>
                      <div class="col-6" > <span> نهاية الإعلان</span></div>
                      <div class="col-6" style="color:#eb2067">{{item.Dated }}</div>
                      <!-- <div class="col-7" > <span>كود مكان الإعلان</span></div>
                      <div class="col-5" style="color:#eb2067">{{item.PlaceHolderCode}}</div> -->
                    </div>
                    <div class="row" style="margin-left: 0px;margin-right: 0px; margin-bottom: 10px;" >
                      <div class="col-12">
                                        <button class="update-btn ml-2 "
                                        (click)="UpdateADS(
                                          item.AdId            ,  
                                          item.AdTitle         ,  
                                          item.ImagePath       ,  
                                          item.URL             ,  
                                          item.Views           ,  
                                          item.PlaceHolderID   ,  
                                          item.ClientID        ,  
                                          item.PublishStartDate,  
                                          item.PublishEndDate  ,
                                          item.PlaceHolderCode ,
                                          item.ClientName      ,
                                          item.Dates            ,
                                          item.Dated            ,
                                          item.Hours            ,
                                          item.Hourd            ,
                                          item.Minutes          ,
                                         item.Minuted   
                                      )">
                          تعديل
                        </button>
                        <button class="delete-btn mr-2"
                          (click)="openDialog(item.AdTitle,item.AdId)">
                          حذف
                        </button>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->