// .container-fluid
// {
//  font-family: 'Cairo';
//  font-size: larger;
//  font-weight: 900;
// }

// .Date-Style
// {
//     padding: 6px;
//     border-width: 1px ;
//     border-radius: 5px ;
//     margin: 5px ;
//     margin-bottom: 13px ;
//     background-color: #eee;
// }

// .Category-Img-Title
// {
//     width:100%;
//     height:200px;
//     // background-color: red;
//     background-repeat: no-repeat;
//     background-size: 100% 100%; /* For WebKit*/
//     // -moz-background-size: contain;    /* Mozilla*/
//     // -o-background-size: contain;      /* Opera*/
//     // background-size: contain; 
// }

// .img-style
// {
//     width: fit-content;
//     height: max-content;
//     border-radius: 20px;
// }

// .Category-Description
// {
//     font-size: 18px;
//     text-align:right;
//     margin-top: 10px;
// }
// .delete-btn , .update-btn
// {
//     float: left;
//     width: 60px;
//     height: 45px;
//     font-size: 18px;
//     padding: 0px;
//     border-radius: 10px;;
//     margin-left: 10px;
//     margin-top: 10px;
// }
// .project-box
// {
//     padding-bottom: 10px;
// }

// .selected-value
// {
//     padding: 5px;
//     font-size: 18px;

// }

// .btnFile-style
// {
//     display:block;
//     width:100%;
//     height:100px;
//     background-color: transparent;
//     border-width: 0px;
// }
// .image-input-file
// {
//     height:200px;
//     width:300px;
//     border-radius:10px;

// }
// .Add-style
// {
//     cursor: pointer;
// }

// .ProgramStartDate
// {
//     background-color: #ddd;
// }

// .lbl-size
// {
//   font-size: 15px;
// }

.container-fluid
{
 font-family: 'Cairo';
 font-size: larger;
 font-weight: 900;
}

.btnFile-style
{
    display:block;
    width:100%;
    height:100px;
    background-color: transparent;
    border-width: 0px;
}
.image-input-file
{
    height:200px;
    width:300px;
    border-radius:10px;

}
.Add-style
{
    cursor: pointer;
}

.option-style
{
    border-radius: 10px;
}


/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
 
  // toggle button 
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.lbl-size
{
  font-size: 15px;
}